a:focus {
  outline: thin dotted #f89406;
  outline: 5px auto #f89406;
  outline-offset:-2px
}

*, * :before, * :after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing:border-box
}

a {
    color:#52adc8
}

a:hover, a:active {
    outline:0
}

ul {
  /* list-style: none; */
}

p.bold {
  font-weight: bold;
}

p.cvheadline {
  text-align: left;
  float: left;
  font-weight: bold;
}
p.cvyear {
  text-align: right;
  font-style: italic;

}

.emph {
  font-weight: bold;
}

nav{
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #5e5e5e !important;
  font-size: large;
}


body {
    margin: 0;
    padding: 0;
    padding-bottom: 9em;
    color: #494e52 !important;
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    line-height:1.5
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

#profilepic{
  background-color: #FFFFFF;
}

/* accordion */
.accordion {
  background-color: #FFFFFF;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

