<!DOCTYPE html>
<html>

  <head>
    {% if page.redirect %}<meta http-equiv="refresh" content="3; url={{ site.baseurl | prepend: site.url }}/" />{% endif %}
    {% include head.html %}
  <link rel="stylesheet" href="https://raw.githubusercontent.com/mikepqr/resume.md/main/resume.css">
  </head>

  <body>
    <!-- Content -->

    <div class="container p-5" style="font-family: palatino">
      <h3 class="cv"> 坂口 慶祐</h3>
      <hr style="border-top:solid;color:#888; background:transparent;" />

      <h4 class="cv"> 連絡先 </h4>
      <table class="cv" style="width: 100%;">
        <tr>
        <td style="width: 1%" align="left"></td>
        <td style="width: 99%" align="left">
          〒980-8579 宮城県仙台市青葉区荒巻字青葉6-6-05
        </td>
        </tr>

        <tr>
        <td style="width: 1%" align="left"></td>
        <td style="width: 99%" align="left">
          東北大学工学研究科  電子情報システム 応物系1号館 660
        </td>
        </tr>

        <tr>
        <td style="width: 1%" align="left"></td>
        <td style="width: 99%" align="left">
          URL: <a class="cv" href="https://keisuke-sakaguchi.github.io/about_jp">https://keisuke-sakaguchi.github.io/about_jp</a>
        </td>
        </tr>


        <tr>
        <td style="width: 1%" align="left"></td>
        <td style="width: 99%" align="left">
          Email: <a class="cv" href="mailto:keusuke.sakaguchi@tohoku.ac.jp">keisuke.sakaguchi@tohoku.ac.jp</a>
        </td>
        </tr>

        <tr>
        <td style="width: 1%" align="left"></td>
        <td style="width: 99%" align="left">
          GitHub: <a class="cv" href="https://github.com/keisks">https://github.com/keisks</a>
        </td>
        </tr>

        <tr>
        <td style="width: 1%" align="left"></td>
        <td style="width: 99%" align="left">
          Researchmap: <a class="cv" href="https://researchmap.jp/sakaguchi-keisuke">https://researchmap.jp/sakaguchi-keisuke</a>
        </td>
        </tr>

      </table>
      <br/>


      <h4 class="cv"> 職歴 </h4>
      <table class="cv" style="width: 100%;">
        {% for exp in site.data.experience %}
          <tr>
          <td style="width: 1%" align="left"></td>
          <td class="org" style="width: 70%;" align="left">
            {{ exp.name_jp }}
          </td>
          <td style="width: 30%" align="right">
            {{ exp.period_jp }}
            <!--{{ exp.address_jp }}-->
          </td>
          </tr>
          <tr>
          <td style="width: 1%" align="left"></td>
          <td class="position" style="width: 60%;" align="left">
            {{ exp.position_jp }}
          </td>
          <td style="width: 40%" align="right">
                  <!--{{ exp.period_jp }}-->
          </td>
          </tr>
        {% endfor %}
      </table>
      <br/>


      <h4 class="cv"> 学歴 </h4>
      <table class="cv" style="width: 100%;">
        {% for edu in site.data.education %}
          <tr>
          <td style="width: 1%" align="left"></td>
          <td class="org" style="width: 60%;" align="left">
            {{ edu.name_jp }}
          </td>
          <td style="width: 30%" align="right">
            <!--{{ edu.address_jp }}-->
            {{ edu.period_jp }}
          </td>
          </tr>
          <tr>
          <td style="width: 1%" align="left"></td>
          <td class="position" style="width: 70%;" align="left">
            {{ edu.degree_jp }}
          </td>
          <td style="width: 30%" align="right">
                  <!--{{ edu.period_jp }}-->
          </td>
          </tr>
          <tr>
          <td style="width: 1%" align="left"></td>
          <td style="width: 60%" align="left">
            指導教員: {{ edu.advisors_jp }}
          </td>
          </tr>
        {% endfor %}
      </table>
      <br/>


      <h4 class="cv"> 受賞・表彰 </h4>
      <table class="cv" style="width: 100%;">
        {% for award in site.data.awards %}
        {% if award.name_jp %}
          <tr>
          <td style="width: 1%" align="left"></td>
          <td style="width: 85%;" align="left">
            {{ award.name_jp }}
          </td>
          <td style="width: 15%" align="right">
            {{ award.date }}
          </td>
          </tr>
        {% endif %}
        {% endfor %}
      </table>
      <br/>


      <h4 class="cv"> 研究助成 </h4>
      <table class="cv" style="width: 100%;">
        {% for grant in site.data.grants %}
          <tr>
          <td style="width: 1%" align="left"></td>
          <td style="width: 69%;" align="left">
            {% if grant.fund_jp %}
              {{ grant.fund_jp }}
            {% else %}
              {{ grant.fund }}
            {% endif %}
          </td>
          <td style="width: 30%" align="right">
            {{ grant.period }}
          </td>
          </tr>
          <!--
          <tr>
          <td style="width: 1%" align="left"></td>
          <td class="position" style="width: 69%" align="left">
            {% if grant.name_jp %}
              {{ grant.name_jp }}
            {% else %}
              {{ grant.name }}
            {% endif %}
          </td>
          </tr>
          -->
        {% endfor %}
      </table>
      <br/>


      <h4 class="cv"> 招待講演 </h4>
      <table class="cv" style="width: 100%;">
        {% for talk in site.data.talks %}
          <tr>
          <td style="width: 1%" align="left"></td>
          <td style="width: 85%;" align="left">
            {% if talk.title_jp %}
              {{ talk.title_jp }}
            {% else %}
              {{ talk.title }}
            {% endif %}
          </td>
          <td style="width: 15%" align="right">
            {{ talk.date }}
          </td>
          </tr>
          <tr>
          <td style="width: 1%" align="left"></td>
          <td class="position" style="width: 60%" align="left">
            {% if talk.address_jp %}
              {{ talk.address_jp }}
            {% else %}
              {{ talk.address }}
            {% endif %}
          </td>
          </tr>
        {% endfor %}
      </table>
      <br/>

      <h4 class="cv"> 学会活動 </h4>
      <table class="cv" style="width: 100%;">
      {% for service in site.data.service %}
      {% if service.title %}
        <tr>
        <td style="width: 1%" align="left"></td>
        <td style="width: 85%;" align="left">
        <h5 class="cv">{{ service.title }}:</h5>
        <p class="cv"> {{ service.venues }} </p>
        </td>
        </tr>
      {% endif %}
      {% endfor %}
      </table>
      <br/>

      <h4 class="cv"> 授業 </h4>
      <table class="cv" style="width: 100%;">
        {% for teaching in site.data.teaching %}
          <tr>
          <td style="width: 1%" align="left"></td>
          <td style="width: 85%;" align="left">
            {% if teaching.name_jp %}
              {{ teaching.name_jp }}
            {% else %}
              {{ teaching.name }}
            {% endif %}
          </td>
          <td style="width: 15%" align="right">
            {% if teaching.date_jp %}
              {{ teaching.date_jp }}
            {% else %}
              {{ teaching.date }}
            {% endif %}
          </td>
          </tr>
          <tr>
          <td style="width: 1%" align="left"></td>
          <td class="position" style="width: 60%" align="left">
            {% if teaching.address_jp %}
              {{ teaching.address_jp }}
            {% else %}
              {{ teaching.address }}
            {% endif %}
          </td>
          </tr>
        {% endfor %}
      </table>
      <br/>


      <!--<h4 class="cv"> Invited Talks </h4>-->


      <!-- https://github.com/inukshuk/jekyll-scholar/pull/295-->
      <h4 class="cv"> 国際論文誌（査読あり） </h4>
      <div class="publications-cv" style="width: 95%">
          {% bibliography -T bib_plain -f papers -q @*[lang=en && review!=no && cls=journal]* %}
      </div>

      <h4 class="cv"> 国際会議（査読あり）</h4>
      <div class="publications-cv" style="width: 95%">
          {% bibliography -T bib_plain -f papers -q @*[lang=en && review!=no && cls=conf]* %}
      </div>

      <h4 class="cv"> 国際ワークショップ（査読あり）</h4>
      <div class="publications-cv" style="width: 95%">
          {% bibliography -T bib_plain -f papers -q @*[lang=en && review!=no && cls=workshop]* %}
      </div>

      <h4 class="cv"> 国際ワークショップ（査読なし）</h4>
      <div class="publications-cv" style="width: 95%">
          {% bibliography -T bib_plain -f papers -q @*[lang=en && review=no && cls=workshop]* %}
      </div>

      <h4 class="cv"> プレプリント（英語） </h4>
      <div class="publications-cv" style="width: 95%">
          {% bibliography -T bib_plain -f papers -q @*[lang=en  && cls=preprint]* %}
      </div>

      <h4 class="cv"> 国内論文誌（査読あり） </h4>
      <div class="publications-cv" style="width: 95%">
          {% bibliography -T bib_plain -f papers_jp -q @*[lang=jp && review!=no && cls=journal]* %}
      </div>

      <h4 class="cv"> 国内研究会・全国大会・シンポジウム等（査読なし） </h4>
      <div class="publications-cv" style="width: 95%">
          {% bibliography -T bib_plain -f papers_jp -q @*[lang=jp && review=no && cls=misc]* %}
      </div>

      <h4 class="cv"> プレプリント(日本語)</h4>
      <div class="publications-cv" style="width: 95%">
          {% bibliography -T bib_plain -f papers_jp -q @*[lang=jp  && cls=preprint]* %}
      </div>


    </div>

  </body>

  {% include scripts/jquery.html %}
  {% include scripts/bootstrap.html %}
  {% include scripts/mansory.html %}
  {% include scripts/misc.html %}
  {% include scripts/mathjax.html %}
  {% include scripts/analytics.html %}

</html>

